body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

/* SECTION */
.watch-section {
    padding: 80px 40px;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-header h1 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 2px;
}

.section-header p {
    color: #aaa;
    margin-top: 10px;
}

/* GRID */
.watch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* CARD */
.watch-card {
    background: #151515;
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.05);
}

/* when visible */
.watch-card.show {
    opacity: 1;
    transform: translateY(0);
}

.watch-card:hover {
    transform: translateY(-8px);
    border-color: rgba(255,255,255,0.2);
}

/* IMAGE */
.watch-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* INFO */
.watch-info {
    padding: 20px;
}

.watch-info h3 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
}

.year {
    color: #c9a86a;
    font-size: 14px;
    margin: 6px 0;
}

.desc {
    color: #aaa;
    font-size: 14px;
    line-height: 1.5;
}


@media (max-width: 480px) {

    .watch-section {
        padding: 60px 20px;
    }

    .section-header h1 {
        font-size: 26px;
    }

    .watch-card img {
        height: 220px;
    }
}


/* =========================
   TABLET (768px+)
========================= */
@media (min-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* =========================
   LAPTOP (1024px+)
========================= */
@media (min-width: 1024px) {
    .container {
        max-width: 1100px;
        margin: auto;
    }
}

/* =========================
   DESKTOP (1440px+)
========================= */
@media (min-width: 1440px) {
    .container {
        max-width: 1300px;
    }

    .hero-text h1 {
        font-size: 6rem;
    }
}